#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.calender {
	/* max-width: 600px; */
	background-color: #333;
	border-radius: 10px;
	box-shadow: 2px 5px 3px rgba(75, 75, 75, 0.5);
}

.grid {
	display: grid;
	padding: 1.5rem;
	grid-template-columns: repeat(7, 60px);
	grid-template-rows: repeat(9, 60px);
	grid-auto-rows: 60px;
}

.week {
	grid-column: 1 / -1;
	grid-row: span 1;
	display: grid;
	grid-template-columns: subgrid;
}

.weekday {
	display: flex;
	justify-content: center;
	align-items: center;
}

.days {
	grid-column: 1 / -1;
	grid-row: 4 / -1;
	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
}

.date--cell {
	grid-column: span 1;
	grid-row: span 1;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color 150ms;

	&:hover:not(.current-date) {
		background-color: #444;
	}
}

.current-date {
	background-color: rgb(0 74 232);
	text-shadow: 1px 1px 5px rgb(0 0 0 / 55%);
	border: 1px solid #bfbfff;
}

.prev-month__date,
.next-month__date {
	opacity: 0.5;
}
